:host {
    display: block;
    padding: 24px;
}
nav {
    display: flex;
    height: 53px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    margin-bottom: 46px;

    a {
        display: block;
        padding: 16px;
    }
}