/* You can add global styles to this file, and also import other style files */
body {
    font-family: Roboto, 'Roboto';
    font-size: 16px;
    margin: 0;
    width: 100%;
}
section {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 56px;
}
form {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 32px;

    button {
        --mdc-filled-button-container-height: 56px;
        --mdc-filled-button-label-text-size: 16px;
    }
}
h3 {
    margin-top: 0;
    margin-bottom: 32px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 16px;
}