<section>
    <div>
        <h3>Add New Friend</h3>
        <form [formGroup]="formGroup" (ngSubmit)="addFriend()">

            <mat-form-field subscriptSizing="dynamic" appearance="outline">
                <mat-label>Name</mat-label>
                <input type="text" matInput formControlName="name">
            </mat-form-field>

            <mat-form-field subscriptSizing="dynamic" appearance="outline">
                <mat-label>Family</mat-label>
                <input type="text" matInput formControlName="family">
            </mat-form-field>

            <button type="submit" mat-flat-button color="primary" [disabled]="formGroup.invalid || formGroup.pristine">Add New a Friend</button>
        </form>
    </div>
</section>